{% extends 'layout.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete Book</title>
</head>
<body>
    {% block content %}
     <form action="/books/delete" method="post">
        <input type="text" id="book_id" name="book_id" placeholder="Book id to delete"> <br/>
        <input type="submit" value="Delete">
    </form>
    {% endblock %}
</body>
</html>